@import './_variables.scss';

.specializations{
    
    width: 100%;
    
    background: linear-gradient(170deg, rgba(0,0,0,0.9),rgba(0,0,0,0.7));
  
      
    

    .specializations__title{
        color: $primaryColor;
        
    }

  

     .specializations__wrap{
         display: flex;
         flex-wrap: wrap;
         max-width: 1000px;
         margin: 0 auto;;
         margin: 100px auto;
         padding: 5px;
         .specialization{
             flex-basis: 50%;
             text-align: center;
             margin-bottom: 50px;
         
             @media(min-width: 768px){
                flex-basis: 33.33333%;
                
           
                
                   
             }
             .specialization__image{
                 width: 25%;
                 max-width: 50px;
                

             }
             .specialization__name{
                 color: white;
                 //color: $primaryColor;
                 font-family: $secondaryFont;
                 font-size: 15px;

                 @media(min-width: 768px){
                    font-size: 18px;
                    line-height: 36px;
                       
                 }
              
        
                } 
            &:nth-last-child(1){

                @media(min-width: 768px){
                    flex-basis: 100%;

               }    
          }
        }

     }
   
}