@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=PT+Serif&display=swap');

$secondaryFont: 'Open Sans', sans-serif;
$titleFont:'PT Serif', serif;

$primaryColor: #a98a51;
$secondaryColor: rgb(68, 68, 64);