<!DOCTYPE html>
<html lang="pl">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Kancelaria Radcy Prawnego we Wrocławiu. Kancelaria świadczy pomoc prawną dla przedsiębiorców i osób nieprowadzących działalności gospodarczej ">
    <title>Kancelaria Radcy Prawnego Szymon Wąsek - Wrocław</title>
    
    <link rel="icon" type="image/png" href="public/images/favicon.svg"/>
    
   
</head>
<body>
    <header class="header">
        <div class="logo__wrap">
            <img src="public/images/logoS-W.svg" class="logo"  alt="Logo kancelarii">
            <img  src="public/images/menu.svg" class="icon"  alt="otwórz menu">
            <img  src="public/images/cancel.svg" class="icon  icon--hidden"  alt="zamknij menu">
        </div>
        <nav class="navigation">
            <ul class="links">
                <li class= "link" data-id="1">o mnie</li>
                <li class= "link" data-id="2">oferta</li>
                <li class= "link" data-id="3">specjalizacje</li>
                <li class= "link" data-id="4">kontakt</li>
                <li class= "link" data-id="5">rodo</li>
            </ul>
            <div class="navigation__phone">
                <img class="phone__icon" src="public/images/phone.svg" alt="telefon">
                <a class="phone__number" href="tel:609656668">609 656 668</a>
            </div>
            <p> </p>
        </nav>
        <aside class="aside">

        </aside>
    </header>
    <main class="main">
        <section class="title" data-id="0"> 
            <div class="title__images">
                <p class ="images__text" > Zaufaj <br> <span>specjaliście</span></p>
                <!-- <picture > 
                    <source  media="(min-width:480px)" srcset="public/images/justitia_landscape.png">
                    <img class ="image" src="public/images/justitia_horizontal.png" alt="justitia">
                  </picture> -->
                  <picture>
                    <source type="image/webp" srcset="public/images/justitia_horizontal.webp" >
                    <source type="image/png" srcset="public/images/justitia_horizontal.png">
                    <img src="public/images/justitia_horizontal.png" class ="image" alt="justitia">
                  </picture>
                  <picture>
                    <source type="image/webp" srcset="public/images/justitia_landscape.webp" >
                    <source type="image/png" srcset="public/images/justitia_landscape.png">
                    <img src="public/images/justitia_landscape.png" class ="image1" alt="justitia">
                  </picture>
                  <picture>
                    <source type="image/webp" srcset="public/images/kalamarz.webp" >
                    <source type="image/png" srcset="public/images/kalamarz.png">
                    <img src="public/images/kalamarz.png" class ="image2" alt="pismo i kałamarz">
                  </picture>
                
                <!-- <img class="image2" alt="kałamarz" src="public/images/kalamarz.png"> </img> -->
            </div>          
            <p class="title__text"> <span>K</span> ancelaria świadczy pomoc prawną dla przedsiębiorców i osób nieprowadzących działalności gospodarczej.</p>
           
             
        </section>
        <section class="aboutMe" data-id="1">
            <h2 class="aboutMe__title titles">O mnie</h2>
            <img src="public/images/Logo_KIRP.svg"  class="kirp " alt="Logo KIRP">
            <p class="text"><span>P</span> osiadam wieloletnie doświadczenie zdobywane jeszcze w trakcie studiów prawniczych i odbywanej aplikacji radcowskiej zakończonej egzaminem zawodowym, współpracując w tym czasie z doświadczonymi prawnikami specjalizującymi się w różnych dziedzinach prawa. Przed rozpoczęciem własnej praktyki zawodowej swoje kompetencje rozwijałem między innymi w szeregach prokuratury, na wszystkich jej szczeblach, a w tym w Wydziale ds. Zwalczania Przestępczości Zorganizowanej i Korupcji Prokuratury Krajowej i Apelacyjnej we Wrocławiu.

            </p>

        </section>
        <section class="offer" data-id="2">
            <h2 class="offer__title titles">Oferta</h2>
            <div class="slider">
                <div class="slider__menu slider__menu--active">
                    <h1 class="slider__title">Porady prawne</h1>
                </div>
                <div class="slider__menu">
                    <h1 class="slider__title">Sporządzanie pism</h1>
                </div>
                <div class="slider__menu">
                    <h1 class="slider__title">Sporządzanie umów</h1>
                </div>
                <div class="slider__menu">
                    <h1 class="slider__title">Profesjonalna reprezentacja</h1>
                </div>

                <div class="slider__images">
                      <picture>
                        <source type="image/webp" srcset="public/images/porady.webp" >
                        <source type="image/png" srcset="public/images/porady.png">
                        <img src="public/images/porady.png" class="slider__image slider__image--active" alt="prawnik">
                      </picture>
                      <picture>
                        <source type="image/webp" srcset="public/images/pisma.webp" >
                        <source type="image/png" srcset="public/images/pisma.png">
                        <img src="public/images/pisma.png" class="slider__image "alt="pismo">
                      </picture>
                      <picture>
                        <source type="image/webp" srcset="public/images/negocjacje.webp" >
                        <source type="image/png" srcset="public/images/negocjacje.png">
                        <img src="public/images/negocjacje.png" class="slider__image" alt="uścisk dłoni">
                      </picture>
                      <picture>
                        <source type="image/webp" srcset="public/images/sad.webp" >
                        <source type="image/png" srcset="public/images/sad.png">
                        <img src="public/images/sad.png" class="slider__image"alt="sala rozpraw">
                      </picture>

                </div>
                <div class="slider__nav">
                    <div class="slider__arrows">
                        <img class="arrow" data-id="0" src="public/images/arrow_left.svg" alt="strzałka w prawo">
                        <img class="arrow" data-id="1" src="public/images/arrow_right.svg" alt="strzałka w lewo">
                    </div>
                
                    <div class="slider__bar">
                        <div class="slider__bar--phase slider__bar--phase--active" data-id="0"></div>
                        <div class="slider__bar--phase" data-id="1"></div>
                        <div class="slider__bar--phase" data-id="2"></div>
                        <div class="slider__bar--phase" data-id="3"></div>
                    </div>
                    <div class="slider__strips">
                        <div class="strip strip--active" data-id="0"></div>
                        <div class="strip" data-id="1"></div>
                        <div class="strip" data-id="2"></div>
                        <div class="strip" data-id="3"></div>
                    </div>
                </div>

            </div>
            <p class="offer__text"> <span>K</span> ancelaria oferuje pomoc prawną dla przedsiębiorców i osób nieprowadzących działalności gospodarczej w zakresie:</p>
            <ul class="offer__list">
                <li class= "offer__listItem">porady prawne (również on-line),</li>
                <li class= "offer__listItem">sporządzanie opinii prawnych,</li>
                <li class= "offer__listItem">sporządzanie pism procesowych, wniosków w ramach postępowań sądowych i administracyjnych,</li>
                <li class= "offer__listItem">sporządzanie i opiniowanie umów w obrocie gospodarczym,</li>
                <li class= "offer__listItem">zabezpieczenia realizacji kontraktów,</li>
                <li class= "offer__listItem">prowadzenie negocjacji w imieniu Klienta, poszukiwanie pozasądowych sposobów rozwiązania sporu,</li>
                <li class= "offer__listItem">obsługa prawna przedsiębiorców, stowarzyszeń, fundacji,</li>
                <li class= "offer__listItem">profesjonalna reprezentacja poprzez inicjowanie sporów lub obronę interesów Klienta w sprawach  przed sądami powszechnymi, sądami administracyjnymi, organami administracji publicznej, jak też w postępowaniu egzekucyjnym,</li>
                <li class= "offer__listItem">obronę podejrzanego i oskarżonego w postępowaniu przygotowawczym oraz jurysdykcyjnym,</li>
                <li class= "offer__listItem">występowanie jako pełnomocnik oskarżyciela posiłkowego, powoda cywilnego, oskarżyciela prywatnego w postępowaniu karnym,</li>
                <li class= "offer__listItem">sporządzenie pism procesowych i wniosków dowodowych, opracowywanie strategii procesowej w soffer</li>
            </ul>
             

        </section>
        <section class="specializations" data-id="3">
            <h2 class="specializations__title titles">specjalizacje</h2>

            <div class="specializations__wrap">
                <div class="specialization">
                    <img class="specialization__image" src="public/images/prawo_cywilne.svg" alt="Ikona">
                    <p class="specialization__name">Prawo Cywilne</p>
                </div>
                <div class="specialization">
                    <img class="specialization__image" src="public/images/prawo_karne.svg" alt="Ikona">
                    <p class="specialization__name">Prawo Karne</p>
                </div>
                <div class="specialization">
                    <img class="specialization__image" src="public/images/prawo_rodzinne.svg" alt="Ikona">
                    <p class="specialization__name">Prawo Rodzinne</p>
                </div>
                <div class="specialization">
                    <img class="specialization__image" src="public/images/prawo_gospodarcze.svg" alt="Ikona">
                    <p class="specialization__name">Prawo Gospodarcze</p>
                </div>
                <div class="specialization">
                    <img class="specialization__image" src="public/images/prawo_pracy.svg" alt="Ikona">
                    <p class="specialization__name">Prawo Pracy</p>
                </div>
                <div class="specialization">
                    <img class="specialization__image" src="public/images/prawo_administracyjne.svg" alt="Ikona">
                    <p class="specialization__name">Prawo Administracyjne</p>
                </div>
                <div class="specialization">
                    <img class="specialization__image" src="public/images/prawo_ubezpieczeniowe.svg" alt="Ikona">
                    <p class="specialization__name">Ochrona informacji niejawnych</p>
                </div>
                <div class="specialization">
                    <img class="specialization__image" src="public/images/prawo_lokatorow.svg" alt="Ikona">
                    <p class="specialization__name">Ochrona Praw Lokatorów</p>
                </div>
                <div class="specialization">
                    <img class="specialization__image" src="public/images/prawo_wlasnosci.svg" alt="Ikona">
                    <p class="specialization__name">Prawo Własności Lokali</p>
                </div>
                <div class="specialization">
                    <img class="specialization__image" src="public/images/prawo_konkurencji.svg" alt="Ikona">
                    <p class="specialization__name">Prawo Ochrony Konkurencji i Konsumentów</p>
                </div>


            </div>
        

        </section>
        <section class="contact" data-id="4">
            <h2 class="contact__title titles">Kontakt</h2>

            <form class="form" action="#">
                <p class="form__header sectionName ">Napisz Do Mnie</p>
                <input type="text" name="name" placeholder="Imię i nazwisko" class="form__name form__field">
                <input type="text" name="email" placeholder="Adres e-mail" class="form__email form__field">
                <textarea name="message checkbox"  placeholder="Treść wiadomości" class="form__message form__field" ></textarea>
                <div class="form__field checkbox">
                    <input type="checkbox" class="check">
                    <Label class="form__allow ">Wyrażam zgodę na przetwarzanie moich danych osobowych w ramach świadczonej na moją rzecz pomocy prawnej i w celu związanym z uzdieleniem odpowiezi na moje zlecenie.</label>
                </div>
                <button type="submit" class="form__button ">Wyślij</button>

            </form>
            <div class="contact__info ">
                <p class="contact__header sectionName ">Dane Kontaktowe</p>
                <div class="contact__field">
                    <p class ="contact__data"> <img class="contact__img" src="public/images/person.svg" alt="Ikona Człowieka">Radca Prawny Szymon Wąsek</p>
                   
                </div>
                <div class="contact__field">
                    <a class ="contact__data" href="tel:609656668"><img class="contact__img" src="public/images/phone.svg" alt="Ikona Telefonu">609 656 668</a>
                    
                </div>
                <div class="contact__field">
                    <a class ="contact__data" href="mailto:wasek-kancelaria.pl "> <img class="contact__img" src="public/images/mail.svg" alt="Ikona Koperty">biuro@wasek-kancelaria.pl</a>
                   
                </div>
                <div class="contact__field">
                    <p class ="contact__data"> <img class="contact__img" src="public/images/clock.svg" alt="Ikona Zegara">09:00 - 17:00</p>
              
                </div>
                
                

            </div>
            
            <div class="monit ">
                <p class="monit__content">Wiadomość została wysłana</p>
            </div> 
             
           
        </section>
        <section class="rodo">
            <h2 class="rodo__title titles">Rodo</h2>
            <p class ="rodo__content"><span>A</span> dministratorem Pana/Pani danych osobowych jest Kancelaria Radcy Prawnego Szymon Wąsek
                z siedzibą we Wrocławiu, która przetwarza je na podstawie przepisów prawa, w ramach wykonywania zawodu zaufana publicznego – radcy prawnego. Przysługuje Pani/Panu prawo żądania dostępu do danych, sprostowania, usunięcia, przenoszenia danych lub ograniczenia ich przetwarzania oraz zgłoszenia sprzeciwu, a także wniesienia skargi do Prezesa Urzędu Ochrony Danych Osobowych. Jeśli ma Pani pytania odnośnie przetwarzania przez nas Pani  danych, lub chce Pani skorzystać ze swoich uprawnień, zapraszam do kontaktu. 
                </p>

            </section>
        <footer class="footer">
            <p class="footer__text">&copy 2020</p>
        </footer>

    </main>
   
    
    <div class='scrollUp'>
        <img class="arrow" src="public/images/arrow_up.svg" alt="strzałka w górę">
    </div>
</body>
</html>